
  .hero{
    font-family: Mark-Book;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
   
  }
  .robotcontainer{
    position: relative;
   height: 20vh;
   z-index: 3;
  }
  .robot{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    width: 13%;
  }
  .hero__bottom{
    padding: 5rem;
    justify-content: center;
    display: flex;
    
  }
  .hero__left{
    position: absolute;
    bottom: 35%;
    left: 0%;
  }
  .hero__right{
    position: absolute;
    bottom: 18%;
    right: 0%;
  }
  .hero__header{
    text-shadow: 1px 1px 2px rgb(44, 44, 44);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__header > h2{
    font-size: 62px;
  }
  .hero__header > h3{
    font-size: 20px;
    font-weight: 400;
  }
  .hero__header > h4{
    font-size: 28px;
    color: rgb(41, 231, 214);
  }
  .tutorial1{
    position: relative;
    background-color: rgb(32, 32, 32);
  }
  .butao_container{
    padding: 3.2rem;
    display: flex;
    flex: 1;
    justify-content: space-around;
    text-decoration: none;
  }
  .butao_container > h4{
    text-decoration: none;
  }
  
  .kuka__button{
    font-size: 28px;
    color: rgb(41, 231, 214);
    outline: none;
    border: 1px solid black;
    margin-right: 100px;
    background-image: linear-gradient(to right, rgb(41, 231, 214) , rgb(0, 167, 153));
    color: #fff;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    text-decoration: none;
  }
  .standford__button{
    outline: none;
    font-size: 28px;
    color: rgb(41, 231, 214);
    border: 1px solid black;
    margin-right: 100px;
    background-image: linear-gradient(to right, rgb(41, 231, 214) , rgb(0, 167, 153));
    color: #fff;
    padding: 1.5rem;
    border-radius: 50px;
    text-decoration: none;
  }
  